{% extends "layout.html" %}

{% block title %}
    Add Party
{% endblock %}

{% block main %}
    <form action="/add-party" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="user_name" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <select class="form-control" name="user_permission">
                <option value="" selected disabled>Permission Level</option>
                <option value="read">Read</option>
                <option value="edit">Edit</option>
                <option value="owner">Owner</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Add User to Trip</button>
    </form>
    <div class="section" id="permission-definitions">
        <h2>Permission Definitions</h2>
        <ul>
            <li><b>Read:</b> See finalized plans for the trip.</li>
            <li><b>Edit:</b> Suggest points of interest for the trip.</li>
            <li><b>Owner:</b> Set trip schedule based on list of suggestions.</li>
        </ul>
    </div>

{% endblock %}