{% extends "layout.html" %}

{% block title %}
    Places
{% endblock %}

{% block main %}
    <h1>Place Search</h1>
    <h2>Search Points of Interest by Name</h2>
    <form action="/search-by-name" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="place_name" placeholder="Name" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <h2>Search Points of Interest by Category</h2>
    <form action="/search-by-category" method="post">
        <div class="form-group">
            <select class="form-control" name="place_category">
                <option value="" selected disabled>Category</option>
                <option value="bar">Bar/Pub</option>
                <option value="garden">Garden</option>
                <option value="museum">Museum</option>
                <option value="park">Park</option>
                <option value="public-artwork">Public Artwork</option>
                <option value="restaurant-full-service">Restaurant, Full Service</option>
                <option value="restaurant-short-order">Restaurant, Short Order</option>
                <option value="stadium">Stadium</option>
                <option value="tourist-attraction">Tourist Attraction</option>
                <option value="viewpoint">Viewpoint/Scenic Vista</option>
                <option value="zoo">Zoo</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>

    {% if places %}
    <h1>Places Added</h1>
    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Tags
                </th>
                <th>
                    Latitude
                </th>
                <th>
                    Longitude
                </th>
                <th>
                    Interest
                </th>
                <th>
                    Must See
                </th>
            </tr>
        </thead>
        <tbody>
            {% for place in places %}
            <tr>
                <td>
                    {{ place.place_name }}
                </td>
                <td>
                    {{ place.place_tags }}
                </td>
                <td>
                    {{ place.place_lat }}
                </td>
                <td>
                    {{ place.place_long }}
                </td>
                <td>
                    {{ place.place_interest }}
                </td>
                <td>
                    {{ place.must_see }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}